
body {
    height: 100%
}

#header {
    background: #518dca;
    height: 41px;
}

#logo {
    position: relative;
    top:8px;
    left:32px;
}

/* START SIDEBAR STYLES */

.sidebarNav {
    background: #2c3e50;
    width: 232px;
    height: 100%;
    float: left;
}

.sidebarTab {
    background: #4f657b;
    height:32px;
}

.sidebarTabText {
    color: #9cb3ca;
    text-align: center;
    padding-top: 10px;
    font-family: 'proxima_nova_rgregular';
    font-size: 13px;
}

.sidebarElementContainer{
    position:relative;
}

.vertDivider {
    background-color: #21313f;
    width: 2px;
    height: 107px;
    display: inline-block;
    
}

.horizDivider {
    background-color: #21313f;
    display: inline-block;
    width: 100%;
    height: 2px;
}

/* START TEMPLATES STYLES */

.pageButtonContainer {
    margin-left: 32px;
    margin-top: 22px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
}

.pageButton {
    height:34px;
    width: 171px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.pageText {
    color: white;
    padding-top: 10px;
    padding-left: 17px;
    font-family: 'proxima_nova_rgregular';
    font-size: 13px;
    outline: 0;

}

#currentPage {
    background: #518dca;
}

#addNewPage {
    border: 2px solid #5d768e;
    background-color: #2c3e50;
    outline: none;


}

#addNewPageText {
    color: #5d768e;
    padding-top: 10px;
    padding-left: 17px;
    font-family: 'proxima_nova_rgregular';
    font-size: 13px;
    background-color: #2c3e50;
    outline: none;

}

input[type="text"] {
    outline: none;
}


/* START ELEMENTS STYLES */

.tileTextContainer {
    position: relative;
    padding-top: 10px;
}

.elementsTile {
    float: left;
    position: relative;
    width: 50%;
    height: 107px;
    background-color: #34485c;
}

.elementsTile:hover {
    background-color:#3a4f64;
    cursor: move;
}

.tileImg {
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    display: block;
}

.elementsTileText {
    padding-top: 7px;
    text-align: center;
    font-family: 'proxima_nova_rgregular';
    font-size: 13px;
    color: #5d768e;
}



/* START SETTINGS STYLES */

#settingsTabText {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 32px;
    font-family: 'proxima_nova_rgregular';
    font-size: 13px;
    color: #5d768e;
}

#settingsTabToggleContainer {
    float: right;
    padding-top: 13px;
    padding-right: 32px;
}







/* START MAIN CONTENT STYLES */

#mainContentContainerContainer {
    position: relative;
    float: left;
}

#mainContentContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    margin-top: 45px;
}

#mainContentPageButtonContainer {
    display: flex;
    position: relative;
}

.activePageButton {
    width: 119px;
    height: 36px;
    border: 2px solid #9cb3ca;
    border-radius: 4px;
    background-color: rgba(150, 169, 187, 0.99);
    margin-right: 14px;
}

.activePageButtonText {
    text-align: center;
    font-family: 'proxima_nova_rgregular';
    font-size: 13px;
    color: white;
    padding-top: 11px;
}

.inactivePageButton {
    width: 119px;
    height: 36px;
    border: 2px solid #9cb3ca;
    border-radius: 4px;
    margin-right: 14px;
}

.inactivePageButtonText {
    text-align: center;
    font-family: 'proxima_nova_rgregular';
    font-size: 13px;
    color: rgba(150, 169, 187, 0.99);
    padding-top: 11px;
}

#mainContentImageContainerContainer {
    margin-top: 54px;
    width: 813px;
    height: 281px;
    border: 2px solid #9cb3ca;
    border-radius: 4px;
    background-color:#eff2f5;
}

#mainContentImageContainer {
    margin-left: 355px;
    margin-top: 74px;
}

.mainContentImage {
/*    text-align: center;*/
}

.mainContentImageText {
    display: flex;
    font-family: 'proxima_nova_rgregular';
    font-size: 13px;
    color: rgba(150, 169, 187, 0.99);
    padding-top: 10px;
    padding-left: 10px;
}

#plus {
    padding-left: 7px;
    font-family: 'proxima_nova_rgregular';
    font-size: 20px;
    color: rgba(150, 169, 187, 0.99);
}

.mainContentTextContainer {
    
}

*:focus {
    outline: none;
}